* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.container {
    display: flex;
    margin-top: 20px;
}
.container .item-img {
    width: 30%;
}
.container .item-info {
    width: 50%;
}
.container .item-shipping {
    width: 18%;
}
.item-img {
    margin-left: 20px;
}
.item-info a{
    color: black;
    font-size: 16px;
}
.item-info .item-detail {
    font-size: 19px;
}
.item-info{
    margin-top: 40px;
    padding-right: 10px;
}
.item-shipping{
    background-color: white;
    border-style: groove;
}
.second-container{
    display: flex;
    justify-content: flex-start;
}
.item{
    margin-left: 20px   ;
}
th, td{
    vertical-align: top;
    text-align: left;
}
.child-left {
    width: 50%;
}
td{
    border-top: 1px solid #e7e7e7;
    font-size: 20px;
}
th{
    border-top: 1px solid #e7e7e7;
    font-size: 20px;
}
table th{
    background:#f3f3f3;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
.third-container{
    display: flex;
}
.child-information{
    width: 100%;
}
.child-warranty{
    width: 53%;
    margin-left: 20px;
}
th, td{
    padding: 7px 14px 6px;
}
